{% extends 'dashboard.html' %}

{% block titulo %}BSVida - Cadastrar{% endblock %}

{% block conteudo %}

    <div class="card-body" style="max-width: 720px;">
    
        <form action="#" method="POST">
            <fieldset class="row g-3">

                <h3>Dados Pessoais</h3>
                <div class="col-md-6">
                    <label for="login" class="form-label fw-semibold">
                        CPF  
                    </label>
                    <input class="form-control" type="text" name="txt-cpf" placeholder="Somente números" required>
                </div>    

                <div class="col-md-6">
                    <label for="login" class="form-label fw-semibold">
                        Senha
                    </label>
                    <input class="form-control" type="text" name="txt-senha" required>
                </div>

                <div class="col-md-6">
                    <label for="login" class="form-label fw-semibold">
                        CPF  
                    </label>
                    <input class="form-control" type="text" name="txt-cpf" placeholder="Somente números" required>
                </div>
                
                <div class="col-md-6">
                    <label for="login" class="form-label fw-semibold">
                        Senha
                    </label>
                    <input class="form-control" type="text" name="txt-senha" required>
                </div>

                <div class="col-md-6">
                    <label for="login" class="form-label fw-semibold">
                        CPF  
                    </label>
                    <input class="form-control" type="text" name="txt-cpf" placeholder="Somente números" required>
                </div>
                
                <div class="col-md-6">
                    <label for="login" class="form-label fw-semibold">
                        Senha
                    </label>
                    <input class="form-control" type="text" name="txt-senha" required>
                </div>

                <div class="col-md-6">
                    <label for="login" class="form-label fw-semibold">
                        CPF  
                    </label>
                    <input class="form-control" type="text" name="txt-cpf" placeholder="Somente números" required>
                </div>

                <div class="col-md-6">      
                    <label for="login" class="form-label fw-semibold">
                        Senha
                    </label>
                    <input class="form-control" type="text" name="txt-senha" required>
                </div>

                <div class="col-md-6">
                    <label for="login" class="form-label fw-semibold">
                        CPF  
                    </label>
                    <input class="form-control" type="text" name="txt-cpf" placeholder="Somente números" required>
                </div>
                
                <div class="col-md-6">
                    <label for="login" class="form-label fw-semibold">
                        Senha
                    </label>
                    <input class="form-control" type="text" name="txt-senha" required>
                </div>

                <div class="col-md-6">
                    <label for="login" class="form-label fw-semibold">
                        CPF  
                    </label>
                    <input class="form-control" type="text" name="txt-cpf" placeholder="Somente números" required>
                </div>

                <div class="col-md-6">
                    <label for="login" class="form-label fw-semibold">
                        Senha
                    </label>
                    <input class="form-control" type="text" name="txt-senha" required>
                </div>

                <h3>Histórico de Doações</h3>

                <div class="col-md-6">
                    <label for="login" class="form-label fw-semibold">
                        Senha
                    </label>
                    <input class="form-control" type="text" name="txt-senha" required>
                </div>

                <div class="col-md-6">
                    <label for="login" class="form-label fw-semibold">
                        Senha
                    </label>
                    <input class="form-control" type="text" name="txt-senha" required>
                </div>

                <div class="col-md-6">
                    <label for="login" class="form-label fw-semibold">
                        Senha
                    </label>
                    <input class="form-control" type="text" name="txt-senha" required>
                </div>

                <div class="col-md-6">
                    <label for="login" class="form-label fw-semibold">
                        Senha
                    </label>
                    <input class="form-control" type="text" name="txt-senha" required>
                </div>

                <h3>Histórico Médico</h3>

                <div class="col-md-6">
                    <label for="login" class="form-label fw-semibold">
                        Senha
                    </label>
                    <input class="form-control" type="text" name="txt-senha" required>
                </div>

                <div class="col-md-6">
                    <label for="login" class="form-label fw-semibold">
                        Senha
                    </label>
                    <input class="form-control" type="text" name="txt-senha" required>
                </div>

                <div class="col-md-6">
                    <label for="login" class="form-label fw-semibold">
                        Senha
                    </label>
                    <input class="form-control" type="text" name="txt-senha" required>
                </div>

                <div class="col-md-6">
                    <label for="login" class="form-label fw-semibold">
                        Senha
                    </label>
                    <input class="form-control" type="text" name="txt-senha" required>
                </div>
            </fieldset>

            
        </form>

        <div class="d-grid gap-2 d-md-flex justify-content-md-center" style="padding: 30px; margin: 10px auto;">
            <a href="#" class="btn btn-outline-secondary">Salvar</a>
            <a href="#" class="btn btn-outline-secondary">Limpar</a>
            <a href="#" class="btn btn-outline-secondary">Voltar</a>
        </div>
    </div>    
{% endblock %}