{% extends 'dashboard.html' %}

{% block titulo %}BSVida - Lista de Usuários{% endblock %}

{% block conteudo %}


        <div class="navbar-brand" style="justify-content: space-evenly">
            <h5 style="padding: 10px;">Listagem de Usuários
                <a href="{{ url_for('cadastro') }}" class="btn btn-outline-secondary">Adicionar</a>
            </h5>
        </div> 
        
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Celular</th>
                    <th scope="col">Nível</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Eu</td>
                    <td>eu@fatec.com.br</td>
                    <td>999999999</td>
                    <td>Administrador</td>
                    <td>              
                        <div>
                            <a href="{{ url_for ('cadastro') }}" class="btn btn-outline-secondary">Editar</a>
                            <a href="#" class="btn btn-outline-secondary">Excluir</a>
                        </div>
                    </td>
                </tr>
  
            </tbody>
        </table>


{% endblock %}
