{% extends 'dashboard.html' %}

{% block titulo %}BSVida - Lista de Usuários{% endblock %}

{% block conteudo %}

    <nav class="navbar navbar-expand-lg shadow-sm">
        <div class="container">
            <h3>Listagem de Usuários</h3>
            <a href="#" class="btn btn-outline-secondary">Adicionar</a>
        </div> 
        
    </nav>

    <div class="card-body p-4" style="justify-content: space-evenly;">
            <table>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Celular</th>
                    <th>E-mail</th>
                    <th>Nível</th>
                    <th>Ações</th>
                </tr>

                <tr>
                    <td>dg
                        wrgwrgwrgwrgwegrweeg
                    </td>
                    <td>sdfsdfsfsdfsd
                        gwtgwtgwgrwgwergsee
                    </td>
                    <td>sdfsdfsdfsdfsdfgwfegwergg</td>
                    <td>sdfsdfsdwrgwergwergwergfsdfsd</td>
                    <td></td>
                    <td>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-center" style="display: flex;">
                            <a href="#" class="btn btn-outline-secondary">Editar</a>
                            <a href="#" class="btn btn-outline-secondary">Excluir</a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>


{% endblock %}
